body { 
    padding-top: 220px;
    margin: 0 auto;
    background: #8a2be2;
    width: 100%;
    font-family: sans-serif;
    text-align: center;
    justify-content: center;
    color: white;
  }

  